<!-- app/views/uses/privacy.html.erb -->
<div class="privacy-policy-container">
  <div class="privacy-policy-content">
    <h1>レコブル プライバシーポリシー</h1>
    <h3>はじめに</h3>
    <p>株式会社〇〇（以下、「弊社」）は、動画共有アプリ「レコブル」の運営にあたり、ユーザーの個人情報をお預かりしております。弊社は、個人情報を保護し、ユーザーに信頼と安心を提供するために努めて参ります。弊社は、個人情報に関する法令を遵守し、個人情報の適切な取り扱いを実現致します。</p>

    <h4>1. 個人情報の取得について</h4>
    <ol>
      <li><strong>お客様がご自身で提供していただいた情報</strong><br>弊社が受領する個人識別情報の多くは、弊社のサービスを利用することに関心のあるユーザーから直接提供されたものです。</li>
      <li><strong>ITによって収集される情報</strong><br>弊社はユーザーにとって使いやすいサービスを提供するため、ITを用いて情報を収集します。例えば、ユーザーが「レコブル」を利用する際、IPアドレスや閲覧情報を収集します。</li>
      <li><strong>行動ターゲティング広告に関する考え方</strong><br>Google、FB（Facebook）、Yahoo!などのサービス利用時に、弊社製品情報をタイムリーに提供するサービスを行っています。</li>
    </ol>

    <h4>2. 個人情報の利用について</h4>
    <p>弊社は、サービス実施、メールマガジン配信、無料ウェブセミナー実施など、複数の目的で個人情報を利用します。</p>

    <h4>3. 個人情報の安全管理について</h4>
    <p>弊社は、個人情報の漏洩、滅失、き損の防止のために、必要な措置を講じます。</p>

    <h4>4. 個人情報の委託について</h4>
    <p>弊社は、個人情報の取り扱いを第三者に委託する際、安全管理が図られるよう適切な監督を行います。</p>

    <h4>5. 個人情報の第三者提供について</h4>
    <p>法令に基づく場合を除き、事前の同意なく個人情報を第三者に提供することはありません。</p>

    <h4>6. 個人情報の開示・訂正等について</h4>
    <p>個人情報に関する開示、訂正、削除などの要求には、ご本人確認の上で対応します。</p>

    <h4>7. 組織・体制</h4>
    <p>弊社は、〇〇を個人情報管理責任者とし、個人情報の適切な管理及び改善を実施します。</p>

    <h4>8. プライバシーポリシーの改定について</h4>
    <p>本ポリシーは適宜見直し、改定され、変更後はウェブサイトで通知します。</p>

    <p>【連絡先】<br>株式会社〇〇<br>E-mail：info@〇〇.com<br>電話：080-1111-1111（平日10:00～18:00）</p>
    <p>制定：2024年6月4日</p>
  </div>
</div>
