<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">popup_after</h1>
    </div>
    <div class="modal-body">
      <div class="content">
      </div>
    </div>
  </div>
</div>
