<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">アンケート回答</h1>
    </div>
    <div class="modal-body">
      <% if @questionnaire_answers.any? %>
        <p><strong>視聴者:</strong> <%= @questionnaire_answers.first.viewer_name %></p>
        <p><strong>メールアドレス:</strong> <%= @questionnaire_answers.first.viewer_email %></p>
      <% end %>

      <% @pre_questionnaire_answers.each do |questionnaire_answer| %>
        <% if questionnaire_answer.pre_answers.present? %>
          <h2>動画視聴前の回答</h2>
          <% questions = QuestionnaireItem.where(id: questionnaire_answer.pre_answers.keys.map(&:to_i)) %>
          <%= render partial: 'questionnaires/questions', locals: { questions: questions, answers: questionnaire_answer.pre_answers, answer_mode: true, type: 'pre_video', hide_required_label: true } %>
        <% end %>
      <% end %>

      <% @post_questionnaire_answers.each do |questionnaire_answer| %>
        <% if questionnaire_answer.post_answers.present? %>
          <h2>動画視聴後の回答</h2>
          <% questions = QuestionnaireItem.where(id: questionnaire_answer.post_answers.keys.map(&:to_i)) %>
          <%= render partial: 'questionnaires/questions', locals: { questions: questions, answers: questionnaire_answer.post_answers, answer_mode: true, type: 'post_video', hide_required_label: true } %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
