<div class="header">
  <h2 id="form-title">アンケート（動画視聴前）</h2>
  <div class="toggle-container">
    <button id="pre-video-toggle" class="toggle-button active">動画視聴前</button>
    <button id="post-video-toggle" class="toggle-button">動画視聴後</button>
  </div>
</div>

<div id="error-messages" style="color: red;"></div>

<%= form_with model: [user, questionnaire], local: true, id: 'dynamic-form', class: 'centered-form' do |f| %>
  <input type="hidden" id="pre_video_questionnaire" name="questionnaire[pre_video_questionnaire]" value="<%= @questionnaire.pre_video_questionnaire %>">
  <input type="hidden" id="post_video_questionnaire" name="questionnaire[post_video_questionnaire]" value="<%= @questionnaire.post_video_questionnaire %>">

  <div id="pre-video-questions-container" class="questions-container"></div>
  <div id="post-video-questions-container" class="questions-container" style="display:none;"></div>
  <button type="button" id="add-question">質問を追加</button>
  <%= f.submit "保存" %>
<% end %>

<div id="question-template" style="display:none;">
  <div class="question-field">
    <div class="question">
      <div class="question-header">
        <label class="question-label"><strong>質問</strong></label>
        <select name="questions[][type]" class="question-type">
          <option value="text">テキスト</option>
          <option value="radio">ラジオボタン</option>
          <option value="dropdown">プルダウン</option>
          <option value="checkbox">チェックボックス</option>
        </select>
      </div>
      <div class="question-and-required">
        <input type="text" name="questions[][text]" placeholder="質問を入力" class="question-input">
        <label class="toggle_label">必須
          <input class="toggle_input required-checkbox" type="checkbox" value="required" />
          <span class="slider"></span>
        </label>
      </div>
      <div class="question-content">
        <div class="text-template" style="display:none;"><textarea name="questions[][answer]" rows="3" placeholder="回答を入力"></textarea></div>
        <div class="radio-template" style="display:none;"></div>
        <div class="dropdown-template" style="display:none;">
          <select name="questions[][dropdown_answers][]">
            <option disabled selected>ここから選択してください</option>
          </select>
        </div>
        <div class="checkbox-template" style="display:none;"></div>
      </div>

      <div class="options-management" style="display:none;">
        <input type="text" placeholder="新しい選択肢を入力" class="new-option-text">
        <button type="button" class="add-option">&#10010;</button>
        <button type="button" class="reset-options" style="display:none;">リセット</button>
      </div>

      <button type="button" class="remove-question">削除</button>
    </div>
  </div>
</div>
